<div class="header" #headerComp>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-cuisine">
    <a class="navbar-brand" routerLink="home">{{ title }}</a>
    <div class="div-right" *ngIf="!user">
      <a class="btn btn-outline-warning btn-cuisine" data-toggle="modal" data-target="#loginModal"
        #loginBtn>Login/Sign-up</a>
    </div>
    <div class="dropdown div-right" *ngIf="user">
      <button class="btn btn-outline-warning btn-cuisine dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ user.firstName }} {{ user.lastName }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">Profile</a>
        <a class="dropdown-item">Logout</a>
      </div>
    </div>
  </nav>
</div>
<app-login (loginStatus)="loginStatus($event)"></app-login>