<div class="app-restaurants content">
  <!-- Searchbar Begins Here -->
  <form class="app-form" #zomatoForm="ngForm" (ngSubmit)="onSubmit(zomatoForm, $event)" novalidate>
    <div class="form-group search-bar">
      <input type="text" class="form-control input-flow" id="query" name="query" aria-describedby="queryHelp"
        placeholder="Enter Query" ngModel #query="ngModel">
      <button type="submit" class="btn btn-warning btn-search">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
  </form>
  <!--Card Begins Here-->
  <div class="card-container">
    <div class="row card-row">
      <div class="card card-custom col-4" *ngFor="let restaurant of restaurants" style="width: 18rem;">
        <img class="card-img-top" src="{{restaurant.thumb}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">#{{ restaurant.id }} - {{ restaurant.name }} | {{ restaurant.rating }}</h5>
          <p class="card-text">{{ restaurant.cuisines }}</p>
          <button type="button" class="btn btn-outline-primary" (click)="navigateExternalLink(restaurant.menu)">Menu
            Link</button>
          <button type="button" class="btn btn-outline-danger"
            (click)="navigateExternalLink(restaurant.link)">Restaurant
            Link</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Empty Grid Error Message -->
  <div class="table-msg" *ngIf="!showGrid">
    <h3>Search for Restaurants and Order from their Menu</h3>
  </div>
</div>