@import '../shared/shared.css';

.table-content {
  margin-top: 10px;
}

.table .thead-dark th {
  background-color: #343a40;
  border-color: #343a40;
}

.table-msg {
  height: 500px;
  width: 100%;
  position: relative;
}

.table-msg>h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
}