.cuisine-hunter {
  width: 100%;
  padding: 0;
}

.main-window {
  display: flex;
}

.main-footer {
  background-color: black;
  color: white;
}



.navigation-pane {
  display: inline-block;
}

.page-content {
  width: 100%;
}
