/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Sticky Header */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* Scrollbar customizations here */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: goldenrod; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gold; 
}
