<div class="app-home">
  <form class="app-form" #zomatoForm="ngForm" (ngSubmit)="onSubmit(zomatoForm, $event)" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" id="query" name="query" aria-describedby="queryHelp"
        placeholder="Enter Query" ngModel #query="ngModel">
    </div>
    <button type="submit" class="btn btn-warning btn-search">Search</button>
  </form>
  <div class="table-content" *ngIf="showGrid">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Rating</th>
          <th scope="col">Address</th>
          <th scope="col">Cuisines</th>
          <th scope="col">Menu</th>
          <th scope="col">Zomato Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restaurant of restaurants">
          <th scope="row">{{ restaurant.id }}</th>
          <td>{{ restaurant.name }}</td>
          <td>{{ restaurant.rating }}</td>
          <td>{{ restaurant.address }}</td>
          <td>{{ restaurant.cuisines }}</td>
          <td><button type="button" class="btn btn-outline-primary" (click)="navigateExternalLink(restaurant.menu)">Menu Link</button></td>
          <td><button type="button" class="btn btn-outline-danger" (click)="navigateExternalLink(restaurant.link)">Restaurant Link</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>