.app-home {
  width: 100%;
}

.app-form {
  background: red;
  padding: 25px 25px 15px 25px;
}

.search-bar {
  display: flex;
}

.input-flow {
  border: none;
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  box-shadow: none;
}

.btn-search {
  float: right;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-color: #ffc107;
  border-radius: 0 25px 25px 0;
  padding: 5px 50px;
}
.btn-search:hover {
  border-color: #e0a800;
}
.btn-search:not(:disabled):not(.disabled).active, .btn-search:not(:disabled):not(.disabled):active, .show>.btn-search.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #d39e00;
}
.btn-search.focus, .btn-search:focus {
  box-shadow: 3px 0 5px 3px rgba(255,193,7,.5);
}
.btn-search:not(:hover) {
  box-shadow: none;
}

.table-content {
  margin-top: 10px;
}

.table .thead-dark th {
  background-color: #343a40;
  border-color: #343a40;
}

.table-msg {
  height: 500px;
  width: 100%;
  position: relative;
}

.table-msg>h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
}